apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - minio/namespace.yaml
  - minio/pvc.yaml
  - minio/secret.yaml
  - minio/deployment.yaml
  - grafana/namespace.yaml
  # NOTE: secret.yaml is created manually (encrypted version stored as secret.yaml.gpg)
  # Run: gpg -d grafana/secret.yaml.gpg | kubectl apply -f -
  - grafana/datasources.yaml
  - grafana/deployment.yaml
  - grafana/ingress.yaml
  # Loki logging stack
  - loki-stack/namespace.yaml
  - loki-stack/loki.yaml
  - loki-stack/promtail.yaml
  # ArgoCD Applications (app of apps pattern)
  - applications/werify-production.yaml
  - applications/werify-staging.yaml
