apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - reloader/
  - argocd-image-updater/
  - grafana/
  # Loki logging stack
  - loki-stack/namespace.yaml
  - loki-stack/loki.yaml
  - loki-stack/promtail.yaml
  # ArgoCD Applications (app of apps pattern)
  - applications/argocd-image-updater.yaml
  - applications/werify-production.yaml
  - applications/werify-staging.yaml
